{{- if and .Values.vpa.enabled (ne (.Values.global.Infra_Tier | default "") "Lite") }}
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: {{ .Values.atlas.name }}-vpa
  namespace: {{ .Values.Namespace }}
spec:
  targetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: {{ .Values.atlas.name }}
  updatePolicy:
    updateMode: {{ .Values.vpa.updateMode | default "Off" | quote }}
    minReplicas: {{ max 1 (sub (int .Values.atlas.replicaCount) 1) }}
  resourcePolicy:
    containerPolicies:
    - containerName: "{{ .Chart.Name }}-main"
      controlledResources:
        {{- $defaultControlledResources := list "cpu" "memory" }}
        {{- toYaml (.Values.vpa.controlledResources | default $defaultControlledResources) | nindent 8 }}
      controlledValues: {{ .Values.vpa.controlledValues | default "RequestsAndLimits" }}
      minAllowed:
        {{- $defaultMinAllowed := dict "cpu" "1000m" "memory" "8Gi" }}
        {{- toYaml (.Values.vpa.minAllowed | default $defaultMinAllowed) | nindent 8 }}
      maxAllowed:
        {{- $defaultMaxAllowed := dict "cpu" "4000m" "memory" "10Gi" }}
        {{- toYaml (.Values.vpa.maxAllowed | default $defaultMaxAllowed) | nindent 8 }}
{{- end }}
