{{- if or (eq .Values.sentry_flag "enable") (ne .Values.atlas.Deployment_Type "Development") }}
{- if or (eq .Values.sentry_flag "enable") (ne .Values.atlas.Deployment_Type "Lite") }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: sentry-dsn-config
  namespace: atlas
  labels:
    app: {{ template "name" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  sentry.properties: |
    {{- if .Values.multitenant }}
    {{- if or (eq .Values.atlas.Deployment_Type "Development") (eq .Values.atlas.Deployment_Type "Lite") }}
    dsn={{ .Values.atlas.secrets.SENTRY_DSN_DEV }}
    {{- else }}
    dsn={{ .Values.atlas.secrets.SENTRY_DSN_PROD }}
    {{- end }}
    {{- else }}
    dsn={{ .Values.atlas.secrets.SENTRY_DSN_SECRET }}
    {{- end }}
    tags=Instance:{{ .Values.atlas.secrets.INSTANCE_NAME }}
    sample_rate={{ .Values.atlas.sentry.sampleRate }}
{{- end }}
{{- end }}